.font-basic {
    --font-size-11: 11px;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
}
.font-small {
    --font-size-11: 9px;
    --font-size-12: 10px;
    --font-size-13: 11px;
    --font-size-14: 12px;
    --font-size-16: 14px;
    --font-size-18: 16px;
    --font-size-20: 18px;
}
.font-big {
    --font-size-11: 13px;
    --font-size-12: 14px;
    --font-size-13: 15px;
    --font-size-14: 16px;
    --font-size-16: 18px;
    --font-size-18: 20px;
    --font-size-20: 22px;
}