.basic-only {display: none;}
.medium-only {display: none;}
.large-only {display: none;}
.font-basic colgroup.basic-only {display: table-column-group;}
.font-medium colgroup.medium-only {display: table-column-group;}
.font-large colgroup.large-only {display: table-column-group;}


.font-medium #lnb.on .btm-option,
.font-large #lnb.on .btm-option {display: flex;}
.font-medium #lnb.on .btm-option a {width:30%;}
.font-large .cont-head .util .user .info {width:110px;}
/* .font-large .my-menu .search {background-position: left 17px center;} */
/* .font-large .my-menu .folder {background-position: left 17px center;} */
.font-large .datepickerrange label input {padding-left: 5px;padding-right: 26px;}
.font-medium .btn.small,
.font-large .btn.small {min-width: 50px;line-height: 28px;}
.font-large .hyppen {margin:0 5px;}
.font-large .indv-graph .table-wrap {width:100%; overflow-x: scroll;}
.font-large .indv-graph .graphBox .grid {min-width: 1760px;}
.font-large .large .list-area > ul > li > label {width: 130px;}
.title-area .btn-wrap {flex-shrink: 0;}
.btn-wrap .btn-clear {background: url('../img/common/btn_reset.png') #fff no-repeat center center; width:24px; height:24px;font-size: 0;background-size: 18px;border: 1px solid #e1e1e1;border-radius: 5px;}
.font-large input[type="checkbox"] + span {line-height: 20px;}
.font-large input[type="radio"] + span {line-height: 20px;}
.font-medium .ipt-btn-del {width: calc(100% - 54px);}
.font-large .ipt-btn-del {width: calc(100% - 58px);}

.doc-acc-list {margin-top: 8px;}
.doc-acc-list li {border-bottom: 1px solid #e1e1e1;}
.doc-acc-list li:first-child {border-top: 1px solid #e1e1e1;}
.doc-acc-list .head {display:flex; align-items: center; min-height: 40px; padding: 5px 20px;cursor: pointer;}
.doc-acc-list .title {display:inline-block;padding-left: 30px;padding-right: 5px;width:450px;background: url('../img/common/report_comment_b.png') no-repeat left center;font-size: var(--font-size-13);vertical-align: middle;flex-shrink: 0;}
.doc-acc-list .on .title {background-image: url('../img/common/report_comment_ac.png');}
.doc-acc-list .name, .doc-acc-list .date {display:inline-block; text-align: center; vertical-align: middle; font-size:var(--font-size-13); color:#666;}
.doc-acc-list .name {width: 80px;padding: 0 5px;}
.doc-acc-list .cont {display:none; padding:16px 0 16px 68px;background: #f5f7ff;border-top: 1px solid #e1e1e1;font-size:var(--font-size-12);line-height: 20px;}
.doc-acc-list.memo li {position: relative;}
.doc-acc-list.memo .title {width: 400px;background: url('../img/common/ico_doc_b.png') no-repeat left center;}
.font-large .doc-acc-list .title {width: 390px;}
.doc-acc-list.memo .on .title {background-image: url('../img/common/ico_doc_on.png');}
.doc-acc-list.memo .chk {position:absolute; left:20px;top: 10px;}
/* .doc-acc-list.memo .head {padding-left: 58px;} */
.doc-acc-list.memo .head {padding-left: 45px;}
.doc-acc-list .step {font-size: var(--font-size-13); font-weight: 500;}
.folder-tree {margin-top: 8px;height: 300px;overflow-y: scroll;padding: 12px 20px;border: 1px solid #ccc;background: #fff;}
.folder-tree .root {width: 260px;font-size: var(--font-size-14);}
.folder-tree .ui-sortable-handle {background: url('../img/common/bg_sortable.png') no-repeat right 8px;}
.folder-tree .ui-sortable-helper ul {display:none;}
.toggle .sortable-placeholder {background-color: #f5f7ff; margin-left:30px;}
.folder-tree .toggle li.open ul {min-height: 10px;}
.folder-tree .toggle .view {background-color: rgba(0, 0, 0, 0.15);}
/* 220915수정 */
.folder-tree.sep-sortable .toggle .btn-toggle.view {background-color: transparent;}

/* 220829수정 */
.folder-tree.sep-sortable .ui-sortable-handle{background: none; position: relative;}
.folder-tree.sep-sortable .btn-up,
.folder-tree.sep-sortable .btn-dw{z-index: 9; display: block;content:"";top: 0;width: 30px;height: 33px;position: absolute;cursor: pointer;background: url('../img/common/bg_sortable_up.png') no-repeat;background-position: 50% 50%; background-size:20px 20px;padding: 0;}
.folder-tree.sep-sortable .btn-up {right:30px; background-image: url('../img/common/bg_sortable_up.png');}
.folder-tree.sep-sortable .btn-dw {right:5px; background-image: url('../img/common/bg_sortable_dw.png');} 
.folder-tree.sep-sortable ul > li:first-child > .sep-btns .btn-up{background-image: url('../img/common/bg_sortable_up_dis.png');}
.folder-tree.sep-sortable ul > li:last-child > .sep-btns .btn-dw{background-image: url('../img/common/bg_sortable_dw_dis.png');}
.folder-tree.sep-sortable .root{width: 100%;}
.folder-tree.sep-sortable .root a{text-decoration: underline;cursor:pointer;}
.folder-tree.sep-sortable .root.view{background: rgba(0, 0, 0, 0.15);}
/* .folder-tree.sep-sortable .toggle ul > li, .folder-tree.sep-sortable .toggle li{width: calc(100% - 60px);}
.folder-tree.sep-sortable .btn-up {right:-35px; background-image: url('../img/common/bg_sortable_up.png');}
.folder-tree.sep-sortable .btn-dw {right:-60px; background-image: url('../img/common/bg_sortable_dw.png');} */


.memo-lock {overflow: hidden;}
.memo-lock .pop-title {float:left;}
.memo-lock .toggle-txt-wrap {float:right;}
.toggle-txt-wrap span {display: inline-block;margin-right: 8px;font-size: var(--font-size-12); color:#444;vertical-align: middle;}
.toggle-txt-wrap .toggle-wrap {display:inline-block;vertical-align: middle;}
.bg-box {margin-bottom: 16px;padding:20px 40px; background:#f6f6f6;border-radius: 4px;font-size: 0;}
.h3-title + .bg-box {margin-top: 12px;}
.popMyHomeSet .report-wrap .cont {height: 330px;}
.popMyHomeMod .report-wrap .cont {height: 380px;}
.popMyHomeMod .report-wrap.url-page .cont {margin-top:24px; border-top:1px solid #d8d8d8; border-radius: 5px;}
.popMyHomeMod .add-tab {margin-left:20px;}
.page-title {height: 56px;margin: 0; padding:12px 0 11px 40px; border-bottom:1px solid #e1e1e1;background-color: #fff;font-size: var(--font-size-17);font-weight: 500;line-height: 28px;}
.main-tabs-wrap + .page-title {margin-top:8px;}
.page-title + .gray-hor-tb {margin-top:24px;}
.page-title + .h3-title {margin-top:24px;}
.board-cont {padding: 12px 20px;min-height: 350px; border:1px solid #e1e1e1;background-color: #fff;}
.btn-file + .file-list {margin-top:8px;}
.file-list li {position: relative;padding: 6px 8px;border:1px solid #e1e1e1; border-top:0;}
.file-list li:first-child {border-top:1px solid #e1e1e1;}
.file-list [class^="type"] {padding-left:26px;}
.file-list .type1 {background:url('../img/common/ico_file1.png') no-repeat left center;}
.file-list .type2 {background:url('../img/common/ico_file2.png') no-repeat left center;}
.file-list .kb {margin-left:8px; font-size: var(--font-size-12); color:#888;}
.file-list li .del {position:absolute; width:24px; height:24px;right: 8px;top: 2px;font-size:0;background: url('../img/common/btn_del.png') no-repeat 0 0;}
.board-file input[type="file"] {position: absolute;visibility: hidden;}
.board-file .plusgray {cursor: pointer;}
.board-file + .file-list li:first-child {margin-top:8px;}
.file-view {padding: 8px 0;}
.board-input {height:350px;padding: 12px 20px;}
.gray-hor-tb .lock {background: url('../img/common/lock-closed.png') #fff no-repeat right 4px center;}
.gray-hor-tb td.lock {background-position: right 12px center;}
.gray-hor-tb .lock input {width: calc(100% - 40px);}

.word-table table {border-collapse: collapse;}
.word-table table th,
.word-table table td {border-left:1px solid #E1E1E1;}
.word-table table td {border-bottom:1px solid #E1E1E1;border-right: 1px solid #E1E1E1; border-left:0;}
.word-table table td + td:last-child {border-right: 0;}
.word-table table thead tr:first-child th:first-child,
.word-table table tbody tr:first-child td:first-child {border-left: 0;}
.popWordDic .com-searchbox,
.popReportMap .com-searchbox {width: 370px;margin: 0 auto;}
.popMyHomeSet .report-wrap {border-radius: 0;}
.popMyHomeSet .report-wrap .top {border-radius: 0;}
.system-cont .name {font-size: var(--font-size-24); text-align: center;}
.system-cont .desc {font-size: var(--font-size-12); text-align: center; color:#888;}
.system-cont .txt {margin-top:20px; color:#666;font-size: var(--font-size-14);line-height: 27px;}

.indv-total {padding: 30px 40px;border:1px solid #e1e1e1;border-radius: 5px;background: #fff;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);}
.indv-total ul {overflow: hidden;}
.indv-total li {float:left; width: 20%; text-align: center;}
.indv-total li .num {font-size:28px; color:#5668f0; font-weight: 900;}
.indv-total li span {display:block; font-size:var(--font-size-12);}
.bar-chartwrap {position:relative;margin-bottom: 12px;border: 1px solid #e1e1e1;border-radius: 5px;background: #fff;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);}

.bar-chartwrap > div {position:absolute;width:100%;height:100%;}
.indv-graph {margin-top:24px;}
.indv-graph .graphBox {display:none;}
.indv-graph .table-wrap {overflow-x: scroll;}
.indv-graph .graphBox.active {display:block;}
.indv-graph .graphBox .grid tr.total td {font-weight: bold; color:#111;}
.indv-graph .graphBox .grid tr.depth td:first-child {text-align: left;}
.indv-graph .graphBox .grid tr.depth td:first-child span {position:relative;}
.indv-graph .graphBox .grid tr.depth td:first-child span:before {position:absolute;left: -25px; height:20px; width:20px;background: url('../img/common/btn_toggle.png') no-repeat 0 -8px; content:'';}
.indv-graph .graphBox .grid tr.row1 td:first-child  {padding-left: 40px;}
.indv-graph .graphBox .grid tr.row2 td:first-child  {padding-left: 60px;}
.indv-graph .graphBox .grid tr.row3 td:first-child  {padding-left: 80px;}
.indv-graph .graphBox .grid tr.row4 td:first-child  {padding-left: 100px;}
.indv-graph .graphBox .grid tr.last td:first-child span:before {position:absolute;left: -25px; height:20px; width:20px;  background:url('../img/common/row.png') no-repeat 0 0; content:'';}

.flex-group .select.time {margin-right: 8px;min-width: 100px;width: 100px;}
.sql-area {padding:12px 0;}
.sql-area textarea {height: 320px;}
.sql-area .btn-wrap {margin-top: 12px;text-align: right;}
.sql-area .btn-wrap button {width:130px;}

/* popup : 발송결재라인 등록 */
.popsendenroll h4 {position:relative; padding-bottom:7px;font-size: var(--font-size-14);font-weight: normal;/* border-bottom:1px solid #111; */}
.popsendenroll h4::after{content:'';display:block;clear:both;}
.popsendenroll h4 .btn{position:absolute;top:-12px;right:0;}
.popsendenroll h4 .btn-reset {position:absolute;top:0;right:0; width:24px;height:24px;background:url("../img/common/btn_reset.png") no-repeat 0 0;}
.popsendenroll .graybox {float:left;width: 320px;/* height:490px; */margin-top:0 !important;box-shadow: none;border-radius: 0;}
.popsendenroll .graybox + .graybox {margin-left: 24px;}
.popsendenroll .content-area {padding: 12px 20px;border: 1px solid #ccc;}
.popsendenroll .user {margin-top:20px;}
.popsendenroll .user li {margin-top:10px;}
.popsendenroll .user li:first-child{margin-top:0;}
.popsendenroll .user strong {margin-right:10px;padding-left:17px;background:url("../img/ems/btn_user.png") no-repeat 0 4px;color:#666;font-weight:600;}
.popsendenroll .user span {color:#666;}
.popsendenroll .user span:last-child:before {content:"|";display:inline-block;margin:0 5px 0 3px;}
.popsendenroll .user li.active strong {color:#5668F0;background-position:0 -23px;}
.popsendenroll .btn-area {position:absolute;top:200px;left: 690px;}
.popsendenroll .btn-area.sec {top:350px;}
.popsendenroll .btn-area button {display:block;width:30px;height:30px;margin-bottom:15px;border-radius: 3px;border: 1px solid #e1e1e1;}
.popsendenroll .btn-area .btn-add {background:url("../img/common/ico_arrow_right.png") #f6f6f6 no-repeat center center;}
.popsendenroll .btn-area .btn-add:hover {background-image: url('../img/common/ico_arrow_right_on.png'); background-position: 11px 7.5px;}
.popsendenroll .btn-area .btn-remove {background:url("../img/common/ico_arrow_left.png") #f6f6f6 no-repeat center center;}
.popsendenroll .btn-area .btn-remove:hover {background-image: url('../img/common/ico_arrow_left_on.png');background-position: 9px 7px;}
.popsendenroll .requester {display:flex;justify-content:space-between;margin-bottom:20px;padding:8px 13px 8px 23px;border-bottom:1px solid #E1E1E1;}
.popsendenroll .requester span {color:#666;}
.popsendenroll .grid-area {padding:0;}
.popsendenroll .grid-area:not(:last-child){margin-bottom:20px;}
.popsendenroll .grid thead th {padding: 0 5px;height: 40px;font-weight:400;/* letter-spacing: -0.03em; */}
.popsendenroll .grid tbody tr {background-color:#fff;}
.popsendenroll .grid tbody td{padding: 0 5px;height: 40px;}
.popsendenroll .grid .selected {background-color:#f2f2f2;}
.popsendenroll .user-list {margin-top: 12px;height: 396px;overflow: hidden;}
.popsendenroll .title-area + .user-list {margin-top:0;}
.popsendenroll .user-list tbody {overflow-y: auto;}

/* popup : 결재라인 정보 */
.poppaymentinfo h3 {padding-bottom:7px;font-size:var(--font-size-16);font-weight:600;border-bottom:1px solid #111;}
.poppaymentinfo .popcont {padding-top:30px;}
.poppaymentinfo .requester {display:flex;justify-content:space-between;margin-bottom:20px;padding:15px 13px 15px 23px;border-bottom:1px solid #E1E1E1;}
.poppaymentinfo .requester span {color:#666;}
.poppaymentinfo .grid thead th {font-weight:400;}
.poppaymentinfo .grid tbody tr {background-color:#fff;}
.poppaymentinfo .btn-wrap {margin-top:30px;}
.mapp-inp {display: flex;margin-top: 24px;gap: 8px;}
.btn-chk-del {width:18px; height:18px; font-size:0; background: url('../img/common/checkbox_off.png') no-repeat 0 0;}
.popReportAdd .cont-wrap {overflow: hidden;}
.popReportAdd .half-box {width: calc((100% - 20px) / 2 );}
.popReportAdd .half-box:first-child {float:left;}
.popReportAdd .half-box:last-child {float:right;}
.popReportAdd .folder-tree {height: 400px;}
.popReportAdd .link {display: flex;height: 56px;padding: 0 20px;align-items: center;background: #f5f7ff;font-size: var(--font-size-12);}
.popReportAdd .item {margin-top:12px;}
.popReportAdd .item input {width: calc(100% - 52px); margin-right: 5px;}
.popReportAdd .grid-wrap {height: 288px; margin-top:12px;}
.popReportAdd .grid-wrap > .grid > tbody > tr > td {border-bottom: 0;}
.font-large .popReportAdd .link {padding: 0 10px;}
.popReportAdd  .grid .inner-table {height: 240px;}
.flex-group .day .chk {display:inline-block; margin-left:12px;}
.gray-hor-tb .line-txt {margin-left:24px; margin-right:8px;}
.gray-hor-tb .user-line {line-height: 1.8;}
.gray-hor-tb .tb-pd8 {padding:8px 0;}

.popsendenroll.map .btn-area {left: 335px;}
.popsendenroll.map .user-list {border:1px solid #ccc;}
.popsendenroll.map .grid td {padding: 6px 0;text-align: left; border-top:0;}
.popsendenroll.map .grid tr:last-child td {border-bottom: 0;}
.popsendenroll.map .inner-table {padding: 12px 0 12px 20px;}
.ipt-btn-del {position: relative;display: inline-block;width: calc(100% - 52px);margin-right: 5px;}
.ipt-btn-del.full {width:100%;}
.ipt-btn-del .del {position:absolute;top: 3px;right: 8px; width:24px; height:24px; font-size:0;background: url('../img/common/btn_del.png') no-repeat center center;}
.folder-tree.system {height: 213px;margin-top: 24px;}
.folder-tree.system li .chk {position: absolute;top: 6px; right:0;}
.folder-tree.system .toggle .view {background-color: transparent;}
.folder-tree .toggle ul > li .cnt {display:inline;}

.folder-tree.sep-sortable.system .toggle li > a{width: 100%;padding-right: 29px;}
.folder-tree.sep-sortable.system .toggle li > a span{display: block; width: 100%;white-space: nowrap;overflow: hidden;text-overflow:clip;}
.folder-tree.sep-sortable.system .toggle li > a.folder{width: calc(100% - 30px);}
.folder-tree.sep-sortable.system ul li .chk {position: absolute;top: 6px; right:0;}
.folder-tree.sep-sortable.system ul li .check-disalbed span {color:#ccc;}
/* .folder-tree.sep-sortable.system .toggle li.no-toggle .btn-toggle{background: none;} */

.user-list.team-tree {margin-top:24px;}
.user-team-list li {border-top: 1px solid #e1e1e1;font-size: 0 !important;}
.user-team-list > li:last-child {border-bottom: 1px solid #e1e1e1;}
.user-team-list .sort-item > a,
.user-team-list .btn-toggle {display: inline-block;width: calc(100% - 100px); font-size: var(--font-size-12) !important;vertical-align: middle;}
.user-team-list .code {display: inline-block; width: 100px;vertical-align: middle;text-align: center;}
.user-team-list .code a {font-size: var(--font-size-12);text-decoration: underline;}
.user-team-list .code a:hover {color:#5668f0;}
.user-team-list .last {position:relative;}
.user-team-list.toggle .last:before {top: 0;left: -20px;}
.user-team-list .sort-item {padding: 10px 0 11px 60px;}
.user-team-list.toggle li .btn-toggle {padding: 11px 0 11px 42px;background-position-x: 20px; background-position-y: 4px;}
.user-team-list.toggle li.open > .btn-toggle {background-position-y: -28px;}
.user-team-list.toggle .depth2 > li {padding-left: 60px;}
.user-team-list.toggle .depth2 > li.active {padding-left: 0;}
.user-team-list.toggle .depth2 > li.active .btn-toggle {padding-left: 62px; background-position-x: 40px;}

.user-team-list.toggle .depth3 > li {padding-left: 80px;}
.user-team-list.toggle .depth3 > li.active {padding-left: 0;}
.user-team-list.toggle .depth3 > li.active .btn-toggle {padding-left: 82px;background-position-x: 60px;}

.user-team-list.toggle .depth4 > li {padding-left: 100px;}
.user-team-list.toggle .depth4 > li.active {padding-left: 0;}
.user-team-list.toggle .depth4 > li.active .btn-toggle {padding-left: 102px; background-position-x: 80px;}

.team-tree-items li {font-size:0;}
.team-tree-items li > div {display:inline-block;font-size: var(--font-size-12);text-align: center;padding-top: 10px;height: 40px;border-bottom: 1px solid #e1e1e1;vertical-align: middle;}
.font-large .team-tree-items li > div {padding-top: 7px; line-height: 20px;}
.team-tree-items .check {width:10%;}
.team-tree-items .team {width:29%;text-align: left;}
.team-tree-items .team .tit {position:relative;}
.team-tree-items .team .tit:before {display:block;position: absolute;top: 0;left: -20px; height:20px; width:20px;background: url('../img/common/btn_toggle.png') no-repeat 0 -7px; content:'';}
.team-tree-items .last .tit:before {display:block;position: absolute;top: 0;left: -24px; height:20px; width:20px;background: url('../img/common/row.png') no-repeat center center; content:'';}
.team-tree-items .open > .team .tit:before {background-position: 0 -39px;}
.team-tree-items .open .last > .team .tit:before {background-position: center center;}
.team-tree-items .code {width:10%;}
.team-tree-items .code a {text-decoration: underline;}
.team-tree-items .code a:hover {color:#5668f0;}
.team-tree-items .type {width:13%;}
.team-tree-items .top {width:15%;}
.team-tree-items .name {width:10%;}
.team-tree-items .date {width:13%;}
.team-tree-items .depth .depth {display:none;}
.team-tree-items li.open > .depth {display:block;}

.team-tree-items .depth1 > .team {padding-left:20px;}
.team-tree-items .depth2 > .team {padding-left:40px;}
.team-tree-items .depth3 > .team {padding-left:60px;}
.team-tree-items .depth4 > .team {padding-left:80px;}

.group-map {overflow: hidden;}
.group-map > .graybox {width:calc((100% - 40px) / 3);}
.group-map .mapping-group {float: right;width:calc(((100% - 40px) / 3) * 2);}
.mapping-group .gray-bar {padding: 4px 12px;background: #f2f2f2;border: 1px solid #ccc;border-bottom: 0;}
.mapping-group .lb {display: inline-block;width: 62px;font-size: var(--font-size-13); color:#888;vertical-align: middle;}
.mapping-group .select {width: calc(47% - 90px);}
.mapping-group .map-cont {position: relative;padding: 12px 20px;overflow: hidden;background-color: #fff;border: 1px solid #ccc;border-top: 0;}
.popsendenroll .mapping-group .btn-area {top: 42%;right: 49%; left:auto;transform: translateX(25%);-ms-transform: translateX(25%);-moz-transform: translateX(25%);-webkit-transform: translateX(25%);}
.popsendenroll .mapping-group .graybox {width: 45%;}
.report-menu {display: flex;gap: 20px;}
.report-menu .left {min-width: 320px;width: 30%; flex-shrink: 0;}
.report-menu .folder-tree {height: 458px;overflow-y: auto; /*height: calc(100% - 42px);*/margin-top: 0;}
.report-menu .folder-tree.comment {height: 459px;}

/* 221121 이서현 로딩페이지추가 */
.report-menu .folder-tree .content{display:block;}
.report-menu .folder-tree .loading-content{display: none;width: 100%;height: 100%;flex-direction: column; align-items: center;justify-content: center;text-align: center;}
.report-menu .folder-tree .loading-content img{display: block;width: 55px;height: auto; animation: rotate_image 3s ease-in-out infinite;transform-origin: 50% 50%}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
.report-menu .folder-tree .loading-content p{font-size:var(--font-size-17);margin-top: 20px;color: #888;}
.report-menu .folder-tree.loading-bring .loading-content.bring{display: flex;}
.report-menu .folder-tree.loading-process .loading-content.process{display: flex;}
.report-menu .folder-tree[class*="loading-"] .content{display: none;}


.popRepoAdd .btn-area {left: 335px;}
.sort-tb tr.ui-sortable-handle {background: url('../img/common/bg_sortable.png') #fff no-repeat 85px center;}
.grid .scroll-area {height: auto !important;padding: 0 !important;border-bottom: 0 !important;}
.inner-table {height: 355px;overflow-y: auto;}
.inner-table table tr:first-child td {border-top:0;}
.inner-table table tr:last-child td {border-bottom: 1px solid #e1e1e1 !important;}
.inner-table .grid tbody td {border-bottom: 0 !important;}
.sauce-type,
.report-sauce {display: flex;align-items: center;}
.sauce-type .radiobox,
.report-sauce .radiobox {display: inline-block;margin-right: 32px;}
/* .sauce-type .radiobox {width: 250px;flex-shrink: 0;} */
.sauce-type .radiobox {min-width: 300px;flex-shrink: 0;}
.font-medium .sauce-type .radiobox {width:280px;}
/* .font-large .sauce-type .radiobox {width:300px;} */
.sauce-type .radiobox + .flex-group {width:calc(100% - 250px);}
.sauce-type .flex-group .btn,
.report-sauce .flex-group .btn {flex-shrink: 0;}
.sauce-type .flex-group input[type=text],
.sauce-type .flex-group .select {width:100%;max-width: 358px;}
.report-sauce .flex-group input[type=text] {width: 358px;}
.report-sauce .flex-group input[type=text] + button {display:none;}
.report-sauce .flex-group input[type=text]:disabled + button {display:inline-block;}
.sauce-type .btn.file {display:none;}
.sauce-type .btn.set {display:none;}
.sauce-type .select {display:none;}
.sauce-type input {display:none;}
.sauce-type[data-idx="idx1"] .btn.file {display:inline-block;}
.sauce-type[data-idx="idx1"] input[type='text'],
.sauce-type[data-idx="idx3"] input[type='text']{display:inline-block;}
.sauce-type[data-idx="idx2"] .select {display:inline-block;margin-left: 0;}
.sauce-type[data-idx="idx2"] .btn.set {display:inline-block;}

.report-preview {margin-top:20px; height:440px;}
.portlet-size .select {margin-left:0;width: 100px;}
.grid .bg-highlight {background:#eff0f6;}
.grid.server-set td {padding:0 5px; height:40px;}
.popsendenroll .grid.tree tbody td {height:auto;}
.popsendenroll .inner-table .grid.tree tr:last-child td {border-bottom:0 !important;}
/* 221017 ci 수정 이서현 */
.ci-img-wrap {overflow: hidden;font-size: 0;white-space: nowrap;}
.ci-img-wrap .img-box {background: #242424;text-align: center;}
.ci-img-wrap .img-box.big-logo{width: auto;max-width: 180px; height: 45px;}
.ci-img-wrap .img-box.small-logo{width: auto;max-width:40px; height: 40px;}
.ci-img-wrap .img-box.pavi-logo{width: auto;max-width:16px; height: 16px;background:#eff0f6;}
.ci-img-wrap .img-box img{object-fit: contain;height: 100%;width: 100%;}
/*.ci-img-wrap .cont-head-wrap {float: right; display: inline-block;width: calc(100% - 200px);min-width: 900px;height: 160px;}
.ci-img-wrap .img-box img {width:40px;}
.ci-img-wrap .img-box h1 {margin-top: 6px; padding-bottom: 32px; color: #fff; font-size: var(--font-size-20); font-weight: 500; text-align: center; border-bottom: 1px solid #3B3B3B;}
.ci-img-wrap button,
.ci-img-wrap a {pointer-events: none;}
*/
.excel-step {padding-right: 68px;}
.excel-step .step-option {margin-top: 12px;overflow: hidden;}
.excel-step .step-option .chk {position: static;float:left;padding-top: 5px;}
.excel-step .step-option .btn-wrap {float:right;margin-top: 0;}


.data-table {display:flex; gap:40px;}
.data-table .tg-table {flex: 1;}
.data-table .grid tbody tr {background-color: transparent;}
.data-table .excel-data {width: 320px; flex-grow: 0;}
.data-table .excel-data .del {float:right; position: absolute; top: 10px;right: 0px; width:20px; height:20px; background:url('../img/common/btn_del.png') no-repeat 0 0; background-size: 18px 18px; font-size:0;}
.data-table .excel-data .ui-sortable-handle {background: url('../img/common/bg_sortable.png') no-repeat left 2px center;}
.data-table .excel-data .user-list,
.data-table .tg-table .user-list {height: 323px;max-height: 323px;overflow-y: auto;}
.data-table .excel-data .user-list .data-items,
.data-table .tg-table .user-list .inner-table {height:auto;}
/* .data-table .excel-data .data-items {font-size: 0;} */
.data-table .excel-data .data-items li {overflow: hidden;height: 40px;border-bottom: 1px solid #e1e1e1;}
.data-table .excel-data .data-items .left {float: left;position: relative;width:50%;padding: 10px 0 10px 0;}
.data-table .excel-data .data-items .right {float: left;width:calc(50% - 10px);margin-right: 10px; padding: 10px 0 10px 10px;overflow: hidden;text-overflow: clip;white-space: nowrap;}
/* 221026 이서현 추가 */
.data-table .excel-data table{border-collapse: collapse;}
.data-table .excel-data table tbody{max-height: 323px; overflow-y: auto;font-size: 0;}
.data-table .excel-data table tbody td{padding: 0;}
.data-table .excel-data .numbering li {width: 100%;overflow: hidden;white-space: nowrap;text-overflow: clip; border-bottom: 1px solid #e1e1e1; padding: 10px 0;}
.data-table .excel-data .data-items .left span{display: block;width:80%;padding:0 20px;overflow: hidden;text-overflow: clip;white-space: nowrap;}
.data-table .tg-table table tbody td{overflow: hidden;white-space: nowrap;text-overflow:ellipsis; }

.file-add {margin-top:24px;margin-bottom: 8px;}
.file-add input[type="text"] {width:260px;}
.file-add .chk {float:right;margin-top: 6px;}
.main-tabs-wrap[style *="display: none"] + .cont-body > .report-page {margin-top:8px;}
.cont-head + .cont-body > .report-page {margin-top:8px;}
/* 프로그레스 */
.progress-bar {width: 100%; height: 8px; background-color: #f2f2f2;font-weight: 600; font-size: .8rem; border-radius: 4px; overflow: hidden;}
.progress-bar .progress {width:0%; height: 8px;padding: 0;text-align: center;background-color: #5668f0;border-radius: 4px;}
.progress-txt {margin-bottom: 8px;font-size: var(--font-size-12); color:#888;}
.upload-step {margin-top:20px; padding:2px 2px;border: 1px solid #e1e1e1;height: 200px;overflow-y: auto;}
.upload-step p {font-size:var(--font-size-14);}
.icon-result {position:relative;padding-left: 15px;}
.icon-result:before {position:absolute; left:0; top:50%; width:9px; height:9px; border-radius: 50%; content: ''; transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.icon-result.scs:before {background-color: #24931a;}
.icon-result.fail:before {background-color: #d4373c;}
tr.ui-sortable-handle.ui-sortable-helper {display: table; width:100%;}
/* 차트 pop */
.chart-add .thumb {display:flex;height: 140px;margin-top: -20px;justify-content: center;align-items: center;}
.chart-add .thumb img {display:none;height: 115px;}
.chart-add .thumb img:first-child {display:inline-block;}
.chart-add .flex-group .select + .select {width:100px;}


/* report  */
.cont-body > .kpi-page,
.cont-body > .report-page {position: relative; padding:0 8px;width: 100%;height: 100%;margin-top: 8px;}
.main-tabs-wrap + .cont-body > .kpi-page,
.main-tabs-wrap + .cont-body > .report-page {margin-top:0;}

#popMyHomeMod .report-wrap .top + .cont,
#popMyHomeSet .report-wrap .top + .cont {height: 314px; border-radius: 0 0 5px 5px; border-top:0;} /* 마이홈설정팝업 */
#popMyHomeMod .report-wrap .cont,
#popMyHomeSet .report-wrap .cont {height: 360px; border-top:1px solid #d8d8d8; border-radius: 5px;} /* 마이홈설정팝업 */
/* .repo-tabs { margin: 0 -4px; } */
.repo-tabs + .report-wrap .top {border-radius: 0;}
#popMyHomeSet .repo-tabs li a {pointer-events: none;}
#popMyHomeSet .repo-tabs li.ui-tabs-active a {pointer-events: initial;}
#popMyHomeMod .report-control {margin-top:8px;}

/* 달력 */
.calendar-month {border:1px solid #E1E1E1;overflow:hidden;}
.calendar-month table {border-collapse: collapse;}
.calendar-month table thead th {height: 40px;background:#F2F2F2;font-size: var(--font-size-13);font-weight:500;}
.calendar-month table tbody td {position:relative;height: 105px;font-size:13px;font-weight:500;vertical-align:top;border:1px solid #E1E1E1;}
.calendar-month table tbody td span {display: inline-block;position:absolute;top: 5px;left: 3px;width:25px;height:25px;line-height:23px;text-align:center;z-index:1;text-decoration: underline;}
.calendar-month table tbody td .conn {color:#b1b1b1;}
.calendar-month table tbody tr:first-child td {border-top:none;}
.calendar-month table tbody tr:last-child td {border-bottom:none;}
.calendar-month table tbody tr td:first-child {border-left:none; background: #fff8f8;}
.calendar-month table tbody tr td:last-child {border-left:none; background: #f9fcff;}
.calendar-month table .today {margin-bottom:2px;/* padding: 5px; */background: #5668f0;/* font-weight:500; *//* letter-spacing:-0.05em; */border-radius: 50%;color: #fff;}
.calendar-month table .days {position:absolute;top: 7px;left: 35px;font-size: var(--font-size-12);}
.calendar-month table .holiday {color:#d4373c;}
.calendar-month table .btn-popopen .mark {margin-top:0;padding-left:0;}
.calendar-month table .calendar-state {margin-top:1px;margin-left:24px;text-align:left;}
.calendar-month table .calendar-state li {display:block;margin-top:5px;margin-left:0;}

.comm-code-list {display:flex; gap:24px; margin-top:24px;}
.comm-code-list .inner-table {height:417px;}
/* .comm-code-list .inner-table tbody td {background: #fff;} */
.comm-code-list .inner-table .ui-sortable-handle {background: url('../img/common/bg_sortable.png') #fff no-repeat 16% center;}
.comm-code-list .inner-table .ui-sortable-handle.ui-sortable-helper {background-position: 12% center;}
.comm-code-list .right textarea {height:204px;}

.kpi-data {display: flex; gap: 20px;}
.kpi-data .left {width: 320px;flex-shrink: 0;}
.kpi-data .right .gray-hor-tb td > * {width:70%; min-width: 394px;}
.kpi-data .right .inner-table {max-height: 287px;height: auto;}
.kpi-data .right .inner-table td {padding:4px 10px;}
.kpi-data .left .grid .inner-table {height: 100%;}
.kpi-data .left .table-wrap {height: calc(100% - 40px);}
.kpi-data .left .table-wrap > .grid {height:100%;}

/* main */
.graph-main {padding: 0 40px 40px;margin-top: 10px;}
.graph-main .chart-date {display: flex;justify-content: right;align-items: center;gap: 8px;margin-bottom: 8px;}
.graph-main .chart-date p {display: inline-block;}
.graph-main .chart-date .btn-wrap {display: inline-block;margin: 0;text-align: right;}
.cate-table-wrap {display:flex;gap: 24px;}
.cate-table {width:calc((100% - 48px) / 3 );}
.cate-table .title-wrap {display:flex; justify-content: space-between;}
.cate-table .grid {margin-top:8px;}
.cate-table .grid th {background:#5668f0; color:#fff;}
.cate-table .grid td {font-size: var(--font-size-14) !important;}
.cate-table .grid .percent {position: relative;padding-left:20px;}
.cate-table .grid .percent.up {color:#5668F0;}
.cate-table .grid .percent.down {color:#d4373c;}
.cate-table .grid .percent:before {display:inline-block; position:absolute; left:0; content:'';}
.cate-table .grid .percent.up:before {content:'▲';}
.cate-table .grid .percent.down:before {content:'▼';}
.main-chart-view {display: flex;gap: 24px;margin-top: 24px;flex: 1;}
.main-chart-view .left {width: calc((100% - 48px) / 3);border: 1px solid #ccc;border-radius: 5px;padding: 10px 16px;background: #fff;flex-shrink: 0;}
.main-chart-view .right {/* width:70%; */width: calc((((100% - 48px) / 3) * 2 ) + 24px);border: 1px solid #ccc;border-radius: 5px;padding: 10px 16px;background: #fff;flex-shrink: 0;}
.main-chart-view .month-chart {height: 295px;}
.main-chart-view .pie-chart {height: 295px;}


/* kpi */
.kpi-head, .report-head {display: flex;justify-content: space-between; align-items: center;/*padding-top: 8px;*/}
.kpi-page .report-wrap .cont {height:100%;  border: 0;}
.kpi-page .report-wrap {background: transparent !important; height: calc(100% - 36px);padding-top: 8px!important;}
.main-tabs-wrap + .cont-body .kpi-page .report-wrap {height: calc(100% - 28px);}
.kpi-page .repo-tabs {width: calc(100% - 202px);margin: 0;}
.kpi-page .kpi-options,
.report-head .kpi-options{position:relative;padding:4px; background: #f6f6f6;border: 1px solid #e1e1e1;border-radius: 2px;}
.kpi-page .kpi-options .btns {display:flex;width: 187px;gap:1px; }
/* .report-head .kpi-options .btns {display:flex;width: 46px;gap:1px; } */
.kpi-page .kpi-options .btns .opt > button,
.report-head .kpi-options .btns .opt > button{width:46px;height: 24px;font-size:0;}
.kpi-page .kpi-options .btns button.play,
.report-head .kpi-options .btns button.play{background: url('../img/common/kpi_play.png')  no-repeat center center;}
.kpi-page .kpi-options .btns button.add {background:url('../img/common/kpi_add.png') no-repeat center center ;}
.kpi-page .kpi-options .btns button.drag-menu {background:url('../img/common/kpi_menu.png')  no-repeat center center ;}
.kpi-page .kpi-options .btns button.save {background:url('../img/common/kpi_save.png')  no-repeat center center ;}
.kpi-page .kpi-options .btns button.play.on,
.report-head .kpi-options .btns button.play.on{background: url('../img/common/kpi_play_on.png')  no-repeat center center;}
.kpi-page .kpi-options .btns button.add.on {background:url('../img/common/kpi_add_on.png')  no-repeat center center ;}
.kpi-page .kpi-options .btns button.stop,
.report-head .kpi-options .btns button.stop{background: url('../img/common/kpi_stop.png')  no-repeat center center;}
.kpi-page .kpi-options .btns button.stop.on,
.report-head .kpi-options .btns button.stop.on{background: url('../img/common/kpi_stop_on.png')  no-repeat center center;}
.kpi-page .kpi-options .btns button.drag-menu.on {background:url('../img/common/kpi_menu_on.png')  no-repeat center center ;}
.kpi-page .kpi-options .btns button.save.on {background:url('../img/common/kpi_save_on.png')  no-repeat center center ;}
.kpi-page .kpi-options .btns button.play:disabled,
.report-head .kpi-options .btns button.play:disabled{background: url('../img/common/kpi_play_dis.png')  no-repeat center center;}
.kpi-page .kpi-options .btns button.add:disabled {background:url('../img/common/kpi_add_dis.png') no-repeat center center ;}
.kpi-page .kpi-options .btns button.drag-menu:disabled {background:url('../img/common/kpi_menu_dis.png')  no-repeat center center ;}
.kpi-page .kpi-options .btns button.save:disabled {background:url('../img/common/kpi_save_dis.png')  no-repeat center center ;}
.kpi-options .opt button.on + .pops {display:block;}
.kpi-options .opt button.stop.on + .pops {display:none;}
.kpi-page li.kpi-options a.on + .close + .pops {display:block;left: 0px;right: 0;bottom: auto;top: 35px;}

.kpi-options .pops {display: none;position: absolute;bottom: -65px;left: -120px;background: #fff;border-radius: 10px; padding:10px 16px;z-index: 1;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);white-space: nowrap;}
.kpi-options .pops .select {width: 90px;}

.cont-body.kpi-page {height: calc(100% - 58px);}
.main-tabs-wrap + .cont-body.kpi-page {height: calc(100% - 114px);}
.kpi-page .chart-wrap{min-height: 750px;overflow:hidden;}

/* 221013 이서현 report-play 추가 */
.report-play .ui-tabs-nav li{font-size: 0;position: relative}
.play-options{display: none;}
.report-play .repo-tabs > ul{border-bottom: 0!important;display: none;}
.report-play .play-options{display:block;width: 100%; height: 34px;text-align: center; background-color: rgb(136, 136, 136);}
.report-play .play-options a{height: 100%;line-height:34px; font-size: var(--font-size-13);font-weight: 600;}
.report-play .play-options .count{display: inline-block; position: absolute; top: 0;right: 70px;height: 34px; line-height: 34px;font-size:var(--font-size-13);}
.report-play .play-options .count span{font-weight: bold;}
.report-play .ui-tabs-nav li:first-child a{border-radius: 0;}
.report-head.report-play .repo-tabs,
.kpi-head.report-play .repo-tabs{width: 100%;position: relative;height: 100%;}
.report-play .ui-tabs-nav{display: inline-block;width: 100%;}
.report-play .repo-tabs + .kpi-options{position: absolute; top: 2px;right: 4px;width: 53px;z-index: 2; padding: 2px;}
.report-play .repo-tabs + .kpi-options .opt{display: none;}
.report-play .repo-tabs + .kpi-options .opt:first-child{display:block;}
.report-play .repo-tabs + .kpi-options .btns{width: 46px;}
.repo-pagination{display: none;}
.report-play .repo-pagination{position: absolute;display: block; transition: .3s opacity;transform: translate3d(0,0,0);z-index: 8;top: 50%;left: 10px;transform: translateY(-50%);width: auto; height:auto;background: transparent; border-radius: 15px;padding:4px 6px;}
.report-play .repo-pagination .pg-bullet{width: 10px;height: 10px;display: inline-block;border-radius: 50%; margin: 0 3px;opacity: 0.8;background: #fff;}
.report-play .repo-pagination .pg-bullet.active{width: 18px;border-radius: 10px;background:#5668f0;}
/* 221014 이서현 myhome 상단 수정 */
.report-head .repo-tabs{width: calc(100% - 60px);}
.report-head .repo-tabs .kpi-options{display: inline-block; position: relative;width: 52px;}

/*220930 이서현 수정*/
/* .chart-wrap {max-height: calc(100% - 8px);height: auto; display: grid;grid-template-columns: repeat(3, 1fr);grid-template-rows: repeat(3, calc((100vh - 200px) / 3));grid-gap: 16px;margin-top: 8px;} */
/* .chart-wrap {display: block;width: 100%;height: 100%;font-size: 0;} */
.chart-wrap {width: 100%;height: 100%;font-size: 0;display: grid;grid-template-columns: repeat(3, 1fr);grid-auto-rows:calc((100% - 48px)/ 3); grid-gap: 16px;}
.chart-wrap .chart-box {position: relative;display: block; border:1px solid #e1e1e1;border-radius: 5px;background: #fff;/* overflow: hidden; */box-shadow: 0 1px 4px 0 rgb(0 0 0 / 12%);}
/* .chart-wrap .chart-box {position: relative;display: inline-block;vertical-align: middle; width: calc((100% - 32px)/ 3); margin :8px; height: calc((100% - 48px)/ 3); border:1px solid #e1e1e1;border-radius: 5px;background: #fff;box-shadow: 0 1px 4px 0 rgb(0 0 0 / 12%);} */
/* .chart-wrap .chart-box:nth-child(3n+1){margin-left: 0;}
.chart-wrap .chart-box:nth-child(3n){margin-right: 0;} */
.chart-wrap .chart-box .board {width:100%;/*height: 182px;*/display: block; min-height: 175px; height:100%;position: relative; overflow: hidden;}
.chart-wrap .chart-box .head {display:flex;height: 40px;padding:0 20px;background:#f2f2f2;align-items: center;justify-content: space-between;border-radius: 5px 5px 0 0;}
.chart-wrap .chart-box .head .left,
.chart-wrap .chart-box .head .right {display: flex; align-items: center;}
.chart-wrap .chart-box .ico {width:20px; height:20px;border-radius: 5px;background: #111;color: #fff;text-align: center;font-size: 14px;line-height: 20px;}
.chart-wrap .chart-box .title {margin-left: 12px;font-size: var(--font-size-14);}
.chart-wrap .chart-box .date {margin-right: 12px;color:#666;font-size: var(--font-size-11);}
.chart-wrap .chart-box .enlarge {width:24px; height:24px;margin-right: 5px; background: url('../img/common/gnb_full_sc.png') no-repeat;background-size: 20px 20px;background-position: 50% 50%; font-size: 0;}
.chart-wrap .chart-box .del {width:24px; height:24px; background: url('../img/common/trash.png') no-repeat 0 0; font-size: 0;}
.chart-wrap .chart-box .del:hover {background: url('../img/common/trash_hover.png') no-repeat 0 0;}
.chart-wrap .chart-box .chart-view {position:relative;width: 100%;display: flex;justify-content: center;align-items: center; /*height: 202px;*/height: calc(100% - 40px);padding: 10px 10px 25px;/* min-width: 350px; */}
.chart-wrap .chart-box .chart-view .link {position:absolute;bottom: 12px;right: 16px;font-size: var(--font-size-12); color:#444;text-decoration: underline;}
.chart-wrap .chart-box .chart-view .link:hover {color:#4b62e8;}
.chart-wrap .chart-box.remove .head {background-color: transparent;}
.chart-wrap .chart-box.remove .chart-view {background: url('../img/common/img_graph.png') no-repeat; background-position: 50% 25%; position: absolute;height: calc(100% - 40px);left: 0;top: 40px;}
.chart-wrap .chart-box.remove .chart-view .txt {/*position:absolute;*/width: 100%;/*bottom: 50px;*/text-align: center;}
.chart-wrap .chart-box.remove .chart-view .txt p {display: inline-block;padding-left: 26px;background: url('../img/common/ico_mark.png') no-repeat center left;background-size: 20px 20px; font-size:var(--font-size-14); color:#666;}
.chart-wrap .chart-box.empty {background: url('../img/common/chart_add.svg') no-repeat #f6f6f6 center center;border: 1px dashed #ccc;box-shadow: none;}
.chart-wrap .chart-box .board .table-wrap {position: relative; display: block; width: 100%;height:100%;margin-top:25px; max-height: calc(100% - 40px); overflow-y: auto; }
.chart-wrap .chart-box .board .table-wrap .result td {background: #e8ebfd;}
.chart-wrap .chart-box .board .grid thead th {padding: 0 5px;height: 24px;}
.chart-wrap .chart-box .board .grid tbody th,
.chart-wrap .chart-box .board .grid tbody td {min-height: auto;height: 24px;padding: 0;line-height: 1.5;}
.chart-wrap .chart-box.empty.drag {background-color: #e1e1e1;}

.poplayer .chart-wrap .chart-box{box-shadow: none;width: 100%;height: 100%;}
.poplayer .chart-wrap .chart-box .date{margin-right: 35px;font-size: var(--font-size-13);}
.poplayer .chart-wrap .chart-box .chart-view{font-size: var(--font-size-14)!important;padding: 20px 20px 40px;}
.poplayer .chart-wrap .chart-box .board .grid th,
.poplayer .chart-wrap .chart-box .board .grid td{font-size: var(--font-size-14);padding:8px 0;}
.poplayer .chart-wrap .chart-box .board{display: flex;align-items: center;justify-content: center;}
.poplayer .chart-wrap .chart-box .board > *{transform: scale(1.5);}
.poplayer .chart-wrap .chart-box .board .unit{transform: none;font-size: var(--font-size-16);}
.poplayer .chart-wrap .chart-box .link{ font-size:var(--font-size-16);}
/* 대시보드 */
.dashboard-menu {display: none;position: absolute;width: 424px;right: 0;bottom: 0;top: 42px;z-index: 1;border-top: 1px solid #e1e1e1;overflow-y: auto;overflow-x: hidden;}
.dashboard-menu.hide {visibility: hidden;}
.dashboard-menu .chart-type {display:grid; grid-template-columns: 1fr 1fr; grid-gap: 8px;}
.dashboard-menu .chart-type li {width:200px; border:1px solid #e1e1e1;background: #fff;border-radius: 5px;text-align: center;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);cursor: pointer;}
.dashboard-menu > .accordion > li {border:1px solid #e1e1e1;border-top: 0;}
.dashboard-menu > .accordion > li:first-child .cont {display:block;}
.dashboard-menu .head .title {padding-left: 20px;font-size: var(--font-size-13);line-height: 40px;height: 40px;cursor: pointer;}
.dashboard-menu .cont {display:none;background: #f5f7ff; padding:8px;border-top: 1px solid #e1e1e1;}
.dashboard-menu .chart-type .img {display:flex;justify-content: center;align-items: center; height:110px;}
.dashboard-menu .chart-type .img img {max-width: 166px;max-height: 80px;}
.dashboard-menu .chart-type .tit {background:#f2f2f2; font-size: var(--font-size-12); line-height: 24px;}
.dashboard-menu li .head {background-position: left 375px center;}

/*chart-num 유형 추가 221012 이서현 추가*/
.chart-num{position: relative; text-align: center;padding:15px 0;margin-top: 0!important;}
.chart-wrap .unit{position: absolute;top: 5px;right:10px;font-size: var(--font-size-12);color: #666;}
.chart-num .main-num{font-size: 36px;font-weight: 500;vertical-align: middle; color: #222;}
.chart-num .main-num::after{content:"";}
.chart-num .plus .main-num{color: #5668f0;}
.chart-num .plus .main-num::after{content:"▲";margin-left: 10px; font-size: 28px;}
.chart-num .minus .main-num{color: red;}
.chart-num .minus .main-num::after{content:"▼";margin-left: 10px;margin-top: -10px;line-height: 36px; font-size: 28px;}
.chart-num h6{font-size: var(--font-size-20);color: #444;font-weight: normal;}
.chart-num .sub-num{padding-top: 10px;font-size: var(--font-size-20);color: #444;font-weight:500;}
.chart-num p{font-size: var(--font-size-16);color: #444;font-weight: normal;}
#popChartNum .except td{height:auto; padding-top: 5px;padding-bottom: 5px;text-align: center;}
#popChartNum .except td .select.equality{margin:4px 0;}
#popChartNum .except td .select.equality select{width: 70px;}

.poplayer .chart-num{display: flex;align-items: center;justify-content: center;}

/* 모바일 */
@media (max-width:1024px) {
    .m-head {position: fixed;width: 100%;z-index: 10;}
    .m-inner {height: 100%;padding: 56px 8px 52px 8px;overflow-y: auto;overflow-x: hidden;}
    .m-inner .login-wrap {padding: 0 16px;}
    .m-inner .login-txt {margin-top:100px; font-weight: normal; font-size: 20px;}
    .m-inner .login-box {margin-top:16px;}
    .m-inner .login-box .ipt + .ipt {margin-top:12px;}
    .m-inner .login-wrap .btn-wrap {margin-top:40px;}
    .m-inner .login-wrap .info {margin-top: 12px;font-size:12px; color:#888;text-align: center;}
    .login-wrap .error {margin-top:4px; color: #ff0000;}
    .mobile input[type="text"], .mobile input[type="password"], .mobile input[type="number"], .mobile input[type="email"], .mobile input[type="search"] {height:50px; font-size: 16px;}
    .mobile .btn {width:100%; height:40px;}
    .mobile .btn.big {height:50px; font-size: 16px;}
    .m-head .logout {position: absolute;right: 8px;top: 12px;width:30px; height:30px;background: url('../img/common/ico_logout.svg') no-repeat center center;font-size: 0;}
    .m-head .depth-menu {position:absolute;top: 0;left: 0;width: 48px;height: 56px; font-size:0;background: url('../img/common/ham_menu.svg') no-repeat center center;}
    
    .chart-list {/* height: 100%; */padding:12px 0;/* overflow: auto; */}
    .chart-list li + li{margin-top:12px;}
    .chart-list .chart-box {position: relative;border:1px solid #e1e1e1;min-height: 250px;border-radius: 5px;background: #fff;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);overflow: hidden;}
    .chart-list .chart-box .head {display:flex;height: 40px;padding:0 20px;background:#f2f2f2;align-items: center;justify-content: space-between;}
    .chart-list .chart-box .head .left,
    .chart-list .chart-box .head .right {display: flex; align-items: center;}
    .chart-list .chart-box .ico {width:20px; height:20px;border-radius: 5px;background: #111;color: #fff;text-align: center;font-size: 14px;line-height: 20px;}
    .chart-list .chart-box .title {margin-left: 12px;font-size:14px;}
    .chart-list .chart-box .date {margin-right: 12px;color:#666;font-size: 11px;}
    .chart-list .chart-box .del {width:24px; height:24px; background: url('../img/common/trash.png') no-repeat 0 0; font-size: 0;}
    .chart-list .chart-box .chart-view, .chart-list .chart-box .chart-view iframe {min-height: 205px;}

    .chart-list .chart-box.empty {width: 100%;background: url('../img/common/chart_add.svg') no-repeat #f6f6f6 center center; border:1px dashed #ccc;}
    .btm-menu-list {position: fixed;bottom: 0;display: flex;width: 100%;height: 52px;margin: 0 -8px;border-top: 1px solid #ccc;z-index: 1;}
    .btm-menu-list .menu {display: flex;width:20%;height: 51px;padding: 0 5px;flex-shrink: 0;background: #f6f6f6;justify-content: center;align-items: center;flex-direction: column;}
    .btm-menu-list .menu .blank {padding-right: 22px;background: url('../img/common/ico_plus.svg') no-repeat center right;font-size: 12px;}
    .btm-menu-list .menu .tit {width:100%;text-align: center;}
    .btm-menu-list .menu.full {background-color: #fff;}
    .btm-menu-list .menu.on {background-color: #bac1f7;}

    .menu-sec {visibility: hidden;position: absolute; top:56px;bottom:0; left:-70%;background: #f6f6f6;width: 70%;z-index: 10;transition: all 0.1s;overflow: auto;}
    .menu-sec.on {visibility: visible; left:0; transition: all 0.1s;}
    .menu-sec .top-box {position: fixed;width: 70%;display: flex;padding: 0 16px;justify-content: space-between;align-items: center;height: 46px;border-bottom: 1px solid #e1e1e1;background: #f6f6f6;z-index: 1;}
    .menu-sec .top-box .tit {font-size: 14px;}
    .menu-sec .top-box .menu-close {width: 24px; height: 24px; background: url('../img/common/btn_popclose.svg') no-repeat 0 0; font-size: 0;}
    .menu-list .folder-tree {background: transparent; border:0;margin-top: 58px;height: 100%;padding-right: 16px;padding-left: 16px;overflow-y: auto;}
    .menu-list .folder-tree .toggle {width:auto;}
    .menu-list .folder-tree .toggle ul > li > a {padding-right:30px;}
    .menu-list .folder-tree.system .sort-item .chk {top:50%; transform:translateY(-50%); -ms-transform:translateY(-50%); -moz-transform:translateY(-50%); -webkit-transform:translateY(-50%);}

    .menu-list .folder-tree .toggle li > a,
    .menu-list .folder-tree .toggle li > .folder {padding-top: 8px;padding-bottom: 8px;}

    .dimm {display: none;position: absolute;top: 0;right: 0;left: 0;bottom: 0;background: rgba(36,36,36,0.8);z-index: 9;}
    .dimm.on {display: block;}
    /* 221110 이서현 추가 */
    .chart-list .chart-box .chart-notice{display: flex;position: relative; width: 100%;height: calc(100% - 40px); min-height: 210px; justify-content: center;align-items: center;}
    .chart-list .chart-box .chart-notice p{font-size: var(--font-size-14);text-align: center;}
}
/* 모바일 끝 */