.doc-acc-list {margin-top: 8px;}
.doc-acc-list li {border-bottom: 1px solid #e1e1e1;}
.doc-acc-list li:first-child {border-top: 1px solid #e1e1e1;}
.doc-acc-list .head {display:flex; align-items: center; min-height: 40px; padding: 5px 20px;cursor: pointer;}
.doc-acc-list .title {display:inline-block;padding-left: 30px; width:450px;background: url('../img/common/report_comment_b.png') no-repeat left center;font-size: var(--font-size-13);vertical-align: middle;flex-shrink: 0;}
.doc-acc-list .on .title {background-image: url('../img/common/report_comment_ac.png');}
.doc-acc-list .name, .doc-acc-list .date {display:inline-block; text-align: center; vertical-align: middle; font-size:var(--font-size-13); color:#666;}
.doc-acc-list .name {width: 60px;}
.doc-acc-list .cont {display:none; padding:16px 0 16px 68px;background: #f5f7ff;border-top: 1px solid #e1e1e1;font-size:var(--font-size-12);line-height: 20px;}
.doc-acc-list.memo li {position: relative;}
.doc-acc-list.memo .title {width: 410px;/* margin-left: 20px; */background: url('../img/common/ico_doc_b.png') no-repeat left center;}
.doc-acc-list.memo .on .title {background-image: url('../img/common/ico_doc_on.png');}
.doc-acc-list.memo .chk {position:absolute; left:20px;top: 10px;}
.doc-acc-list.memo .head {padding-left: 58px;}
.folder-tree {margin-top: 8px;max-height: 300px;overflow-y: scroll;padding: 12px 20px;border: 1px solid #ccc;}
.folder-tree .root {width: 260px;font-size: var(--font-size-14);}
.folder-tree .toggle {width:260px;}
.folder-tree .ui-sortable-handle {background: url('../img/common/bg_sortable.png') no-repeat right 2px;}
.folder-tree .toggle li.open > .depth2 {min-height: 2px;}
/* .folder-tree .toggle li.open .btn-toggle {background:none;}
.folder-tree .toggle .depth2 li:first-child:after {position:absolute;top: -32px;left: -50px; width:20px; height:20px;background: url('../img/common/btn_toggle.png') no-repeat 0 0;background-position: 0 -20px; content:'';} */


.memo-lock {overflow: hidden;}
.memo-lock .pop-title {float:left;}
.memo-lock .toggle-txt-wrap {float:right;}
.toggle-txt-wrap span {display: inline-block;margin-right: 8px;font-size: var(--font-size-12); color:#444;vertical-align: middle;}
.toggle-txt-wrap .toggle-wrap {display:inline-block;vertical-align: middle;}
.bg-box {margin-bottom: 24px;padding:20px 40px; background:#f6f6f6;border-radius: 4px;font-size: 0;}
.h3-title + .bg-box {margin-top: 12px;}
#popMyHomeSet .report-wrap .cont {height: 330px;}
#popMyHomeMod .report-wrap .cont {height: 380px;}
#popMyHomeMod .report-wrap.url-page .cont {margin-top:24px; border-top:1px solid #d8d8d8; border-radius: 5px;}
#popMyHomeMod .add-tab {margin-left:20px;}
.page-title {height: 46px;margin:-8px -8px 0;padding-bottom: 11px;padding-left: 40px;padding:8px 0 11px 40px; border-bottom:1px solid #e1e1e1; background-color: #fff; font-size: var(--font-size-17);font-weight: 500;line-height: 28px;}
.page-title + .gray-hor-tb {margin-top:24px;}
.page-title + .h3-title {margin-top:24px;}
.board-cont {padding: 12px 20px;min-height: 350px; border:1px solid #e1e1e1;background-color: #fff;}
.btn-file + .file-list {margin-top:8px;}
.file-list li {position: relative;padding: 6px 8px;border:1px solid #e1e1e1; border-top:0;}
.file-list li:first-child {border-top:1px solid #e1e1e1;}
/* .file-list .file {padding-left: 26px;} */
.file-list [class^="type"] {padding-left:26px;}
.file-list .type1 {background:url('../img/common/ico_file1.png') no-repeat left center;}
.file-list .type2 {background:url('../img/common/ico_file2.png') no-repeat left center;}
.file-list .kb {margin-left:8px; font-size: var(--font-size-12); color:#888;}
.file-list li .del {position:absolute; width:24px; height:24px;right: 8px;top: 2px;font-size:0;background: url('../img/common/btn_del.png') no-repeat 0 0;}
.board-file input[type="file"] {position: absolute;visibility: hidden;}
.board-file .plusgray {cursor: pointer;}
.board-file + .file-list li:first-child {margin-top:8px;}
.file-view {padding: 8px 0;}
.file-view .btn-file {/* margin-bottom: 8px; */}
.board-input {height:350px;padding: 12px 20px;}
.gray-hor-tb .lock {background: url('../img/common/lock-closed.png') #fff no-repeat right 4px center;}
.gray-hor-tb td.lock {background-position: right 12px center;}
.gray-hor-tb .lock input {width: calc(100% - 40px);}

.word-table table th,
.word-table table td {border-left:1px solid #E1E1E1;}
.word-table table td {border-bottom:1px solid #E1E1E1;border-right: 1px solid #E1E1E1; border-left:0;}
.word-table table td + td:last-child {border-right: 0;}
.word-table table thead tr:first-child th:first-child,
.word-table table tbody tr:first-child td:first-child {border-left: 0;}
#popWordDic .com-searchbox,
#popReportMap .com-searchbox {width: 370px;margin: 0 auto;}