.basic-only {display: none;}
.medium-only {display: none;}
.large-only {display: none;}
.font-basic colgroup.basic-only {display: table-column-group;}
.font-medium colgroup.medium-only {display: table-column-group;}
.font-large colgroup.large-only {display: table-column-group;}


.font-medium #lnb.on .btm-option,
.font-large #lnb.on .btm-option {display: flex;}
.font-medium #lnb.on .btm-option a {width:30%;}
.font-large .cont-head .util .user .info {width:110px;}
.font-large .my-menu .search {background-position: left 10px center;}
.font-large .my-menu .folder {background-position: left 10px center;}
.font-large .datepickerrange label input {padding-left: 5px;padding-right: 26px;}
.font-medium .btn.small,
.font-large .btn.small {min-width: 50px;line-height: 28px;}
.font-large .hyppen {margin:0 5px;}
.font-large .indv-graph .table-wrap {width:100%; overflow-x: scroll;}
.font-large .indv-graph .graphBox .grid {min-width: 1760px;}
.font-large .title-area {display: flex;height:auto;align-items: center;justify-content: space-between;}
.font-large .title-area .btn-wrap {flex-shrink: 0;}
.font-large input[type="checkbox"] + span {line-height: 20px;}
.font-large input[type="radio"] + span {line-height: 20px;}
.font-medium .ipt-btn-del {width: calc(100% - 54px);}
.font-large .ipt-btn-del {width: calc(100% - 58px);}

.doc-acc-list {margin-top: 8px;}
.doc-acc-list li {border-bottom: 1px solid #e1e1e1;}
.doc-acc-list li:first-child {border-top: 1px solid #e1e1e1;}
.doc-acc-list .head {display:flex; align-items: center; min-height: 40px; padding: 5px 20px;cursor: pointer;}
.doc-acc-list .title {display:inline-block;padding-left: 30px; width:450px;background: url('../img/common/report_comment_b.png') no-repeat left center;font-size: var(--font-size-13);vertical-align: middle;flex-shrink: 0;}
.doc-acc-list .on .title {background-image: url('../img/common/report_comment_ac.png');}
.doc-acc-list .name, .doc-acc-list .date {display:inline-block; text-align: center; vertical-align: middle; font-size:var(--font-size-13); color:#666;}
.doc-acc-list .name {width: 60px;}
.doc-acc-list .cont {display:none; padding:16px 0 16px 68px;background: #f5f7ff;border-top: 1px solid #e1e1e1;font-size:var(--font-size-12);line-height: 20px;}
.doc-acc-list.memo li {position: relative;}
.doc-acc-list.memo .title {width: 410px;/* margin-left: 20px; */background: url('../img/common/ico_doc_b.png') no-repeat left center;}
.font-large .doc-acc-list .title {width: 390px;}
.doc-acc-list.memo .on .title {background-image: url('../img/common/ico_doc_on.png');}
.doc-acc-list.memo .chk {position:absolute; left:20px;top: 10px;}
.doc-acc-list.memo .head {padding-left: 58px;}
.doc-acc-list .step {font-size: var(--font-size-13); font-weight: 500;}
.folder-tree {margin-top: 8px;height: 300px;overflow-y: scroll;padding: 12px 20px;border: 1px solid #ccc;background: #fff;}
.folder-tree .root {width: 260px;font-size: var(--font-size-14);}
.folder-tree .toggle {width:260px;}
.folder-tree .ui-sortable-handle {background: url('../img/common/bg_sortable.png') no-repeat right 8px;}
.folder-tree .ui-sortable-helper ul {display:none;}
.toggle .sortable-placeholder {background-color: #f5f7ff; margin-left:30px;}
.folder-tree .toggle li.open ul {min-height: 15px;}
.folder-tree .toggle .view {background-color: rgba(0, 0, 0, 0.15);}
/* .folder-tree .toggle li.open .btn-toggle {background:none;}
.folder-tree .toggle .depth2 li:first-child:after {position:absolute;top: -32px;left: -50px; width:20px; height:20px;background: url('../img/common/btn_toggle.png') no-repeat 0 0;background-position: 0 -20px; content:'';} */


.memo-lock {overflow: hidden;}
.memo-lock .pop-title {float:left;}
.memo-lock .toggle-txt-wrap {float:right;}
.toggle-txt-wrap span {display: inline-block;margin-right: 8px;font-size: var(--font-size-12); color:#444;vertical-align: middle;}
.toggle-txt-wrap .toggle-wrap {display:inline-block;vertical-align: middle;}
.bg-box {margin-bottom: 16px;padding:20px 40px; background:#f6f6f6;border-radius: 4px;font-size: 0;}
.h3-title + .bg-box {margin-top: 12px;}
.popMyHomeSet .report-wrap .cont {height: 330px;}
.popMyHomeMod .report-wrap .cont {height: 380px;}
.popMyHomeMod .report-wrap.url-page .cont {margin-top:24px; border-top:1px solid #d8d8d8; border-radius: 5px;}
.popMyHomeMod .add-tab {margin-left:20px;}
.page-title {height: 56px;margin: 0; padding:12px 0 11px 40px; border-bottom:1px solid #e1e1e1;background-color: #fff;font-size: var(--font-size-17);font-weight: 500;line-height: 28px;}
.main-tabs-wrap + .page-title {margin-top:8px;}
.page-title + .gray-hor-tb {margin-top:24px;}
.page-title + .h3-title {margin-top:24px;}
.board-cont {padding: 12px 20px;min-height: 350px; border:1px solid #e1e1e1;background-color: #fff;}
.btn-file + .file-list {margin-top:8px;}
.file-list li {position: relative;padding: 6px 8px;border:1px solid #e1e1e1; border-top:0;}
.file-list li:first-child {border-top:1px solid #e1e1e1;}
/* .file-list .file {padding-left: 26px;} */
.file-list [class^="type"] {padding-left:26px;}
.file-list .type1 {background:url('../img/common/ico_file1.png') no-repeat left center;}
.file-list .type2 {background:url('../img/common/ico_file2.png') no-repeat left center;}
.file-list .kb {margin-left:8px; font-size: var(--font-size-12); color:#888;}
.file-list li .del {position:absolute; width:24px; height:24px;right: 8px;top: 2px;font-size:0;background: url('../img/common/btn_del.png') no-repeat 0 0;}
.board-file input[type="file"] {position: absolute;visibility: hidden;}
.board-file .plusgray {cursor: pointer;}
.board-file + .file-list li:first-child {margin-top:8px;}
.file-view {padding: 8px 0;}
.board-input {height:350px;padding: 12px 20px;}
.gray-hor-tb .lock {background: url('../img/common/lock-closed.png') #fff no-repeat right 4px center;}
.gray-hor-tb td.lock {background-position: right 12px center;}
.gray-hor-tb .lock input {width: calc(100% - 40px);}

.word-table table th,
.word-table table td {border-left:1px solid #E1E1E1;}
.word-table table td {border-bottom:1px solid #E1E1E1;border-right: 1px solid #E1E1E1; border-left:0;}
.word-table table td + td:last-child {border-right: 0;}
.word-table table thead tr:first-child th:first-child,
.word-table table tbody tr:first-child td:first-child {border-left: 0;}
.popWordDic .com-searchbox,
.popReportMap .com-searchbox {width: 370px;margin: 0 auto;}
.popMyHomeSet .report-wrap {border-radius: 0;}
.popMyHomeSet .report-wrap .top {border-radius: 0;}
.system-cont .name {font-size: var(--font-size-24); text-align: center;}
.system-cont .desc {font-size: var(--font-size-12); text-align: center; color:#888;}
.system-cont .txt {margin-top:20px; color:#666;font-size: var(--font-size-14);line-height: 27px;}

.indv-total {padding: 30px 40px;border:1px solid #e1e1e1;border-radius: 5px;background: #fff;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);}
.indv-total ul {overflow: hidden;}
.indv-total li {float:left; width: 20%; text-align: center;}
.indv-total li .num {font-size:28px; color:#5668f0; font-weight: 900;}
.indv-total li span {display:block; font-size:var(--font-size-12);}
.bar-chartwrap {position:relative;margin-bottom: 12px;border: 1px solid #e1e1e1;border-radius: 5px;background: #fff;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);}

.bar-chartwrap > div {position:absolute;width:100%;height:100%;}
.indv-graph {margin-top:24px;}
.indv-graph .graphBox {display:none;}
.indv-graph .table-wrap {overflow-x: scroll;}
.indv-graph .table-wrap .grid {/* min-width: 1800px; */}
.indv-graph .graphBox.active {display:block;}
.indv-graph .graphBox .grid tr.total td {font-weight: bold; color:#111;}
.indv-graph .graphBox .grid tr.depth td:first-child {text-align: left;}
.indv-graph .graphBox .grid tr.depth td:first-child span {position:relative;}
.indv-graph .graphBox .grid tr.depth td:first-child span:before {position:absolute;left: -25px; height:20px; width:20px;background: url('../img/common/btn_toggle.png') no-repeat 0 -8px; content:'';}
.indv-graph .graphBox .grid tr.row1 td:first-child  {padding-left: 40px;}
.indv-graph .graphBox .grid tr.row2 td:first-child  {padding-left: 60px;}
.indv-graph .graphBox .grid tr.row3 td:first-child  {padding-left: 80px;}
.indv-graph .graphBox .grid tr.row4 td:first-child  {padding-left: 100px;}
.indv-graph .graphBox .grid tr.last td:first-child span:before {position:absolute;left: -25px; height:20px; width:20px;  background:url('../img/common/row.png') no-repeat 0 0; content:'';}

.flex-group .select.time {margin-right: 8px;min-width: 100px;width: 100px;}
.sql-area {padding:12px 0;}
.sql-area textarea {height: 320px;}
.sql-area .btn-wrap {margin-top: 12px;text-align: right;}
.sql-area .btn-wrap button {width:130px;}

/* popup : 발송결재라인 등록 */
.popsendenroll h4 {position:relative; padding-bottom:7px;font-size: var(--font-size-14);font-weight: normal;/* border-bottom:1px solid #111; */}
.popsendenroll h4::after{content:'';display:block;clear:both;}
.popsendenroll h4 .btn{position:absolute;top:-12px;right:0;}
.popsendenroll h4 .btn-reset {position:absolute;top:0;right:0; width:24px;height:24px;background:url("../img/common/btn_reset.png") no-repeat 0 0;}
.popsendenroll .graybox {float:left;width: 320px;/* height:490px; */margin-top:0 !important;box-shadow: none;border-radius: 0;}
.popsendenroll .graybox + .graybox {margin-left: 24px;}
.popsendenroll .content-area {padding: 12px 20px;border: 1px solid #ccc;}
.popsendenroll .item {}
.popsendenroll .item input {}
.popsendenroll .item .btn {/* width: 44px; */}
.popsendenroll .user {margin-top:20px;}
.popsendenroll .user li {margin-top:10px;}
.popsendenroll .user li:first-child{margin-top:0;}
.popsendenroll .user strong {margin-right:10px;padding-left:17px;background:url("../img/ems/btn_user.png") no-repeat 0 4px;color:#666;font-weight:600;}
.popsendenroll .user span {color:#666;}
.popsendenroll .user span:last-child:before {content:"|";display:inline-block;margin:0 5px 0 3px;}
.popsendenroll .user li.active strong {color:#5668F0;background-position:0 -23px;}
.popsendenroll .btn-area {position:absolute;top:200px;left: 690px;}
.popsendenroll .btn-area.sec {top:350px;}
.popsendenroll .btn-area button {display:block;width:30px;height:30px;margin-bottom:15px;border-radius: 3px;border: 1px solid #e1e1e1;}
.popsendenroll .btn-area .btn-add {background:url("../img/common/ico_arrow_right.png") #f6f6f6 no-repeat center center;}
.popsendenroll .btn-area .btn-add:hover {background-image: url('../img/common/ico_arrow_right_on.png'); background-position: 11px 7px;}
.popsendenroll .btn-area .btn-remove {background:url("../img/common/ico_arrow_left.png") #f6f6f6 no-repeat center center;}
.popsendenroll .btn-area .btn-remove:hover {background-image: url('../img/common/ico_arrow_left_on.png');background-position: 9px 7px;}
.popsendenroll .requester {display:flex;justify-content:space-between;margin-bottom:20px;padding:8px 13px 8px 23px;border-bottom:1px solid #E1E1E1;}
.popsendenroll .requester span {color:#666;}
.popsendenroll .grid-area {padding:0;}
.popsendenroll .grid-area:not(:last-child){margin-bottom:20px;}
.popsendenroll .grid thead th {padding: 0 5px;height: 40px;font-weight:400;/* letter-spacing: -0.03em; */}
.popsendenroll .grid tbody tr {background-color:#fff;}
.popsendenroll .grid tbody td{padding: 0 5px;height: 40px;}
.popsendenroll .grid tbody td:first-child {/* padding-left:30px; *//* letter-spacing: -0.03em; */}
.popsendenroll .grid .selected {background-color:#f2f2f2;}
.popsendenroll .btn-wrap {/* margin-top:15px; */}
.popsendenroll .user-list {margin-top: 12px;height: 396px;overflow: hidden;}
.popsendenroll .title-area + .user-list {margin-top:0;}
.popsendenroll .user-list tbody {/* height: 260px; */overflow-y: auto;}
.popsendenroll .user-list tbody > tr > td {/* vertical-align: top; */}

/* popup : 결재라인 정보 */
.poppaymentinfo h3 {padding-bottom:7px;font-size:var(--font-size-16);font-weight:600;border-bottom:1px solid #111;}
.poppaymentinfo .popcont {padding-top:30px;}
.poppaymentinfo .requester {display:flex;justify-content:space-between;margin-bottom:20px;padding:15px 13px 15px 23px;border-bottom:1px solid #E1E1E1;}
.poppaymentinfo .requester span {color:#666;}
.poppaymentinfo .grid thead th {font-weight:400;}
.poppaymentinfo .grid tbody tr {background-color:#fff;}
.poppaymentinfo .btn-wrap {margin-top:30px;}
.mapp-inp {display: flex;margin-top: 24px;gap: 8px;}
.btn-chk-del {width:18px; height:18px; font-size:0; background: url('../img/common/checkbox_off.png') no-repeat 0 0;}
.popReportAdd .cont-wrap {overflow: hidden;}
.popReportAdd .half-box {width: calc((100% - 20px) / 2 );}
.popReportAdd .half-box:first-child {float:left;}
.popReportAdd .half-box:last-child {float:right;}
.popReportAdd .folder-tree {height: 400px;}
.popReportAdd .link {display: flex;height: 56px;padding: 0 20px;align-items: center;background: #f5f7ff;font-size: var(--font-size-12);}
.popReportAdd .item {margin-top:12px;}
.popReportAdd .item input {width: calc(100% - 52px); margin-right: 5px;}
.popReportAdd .grid-wrap {height: 288px; margin-top:12px;}
.popReportAdd .grid-wrap > .grid > tbody > tr > td {border-bottom: 0;}
.font-large .popReportAdd .link {padding: 0 10px;}
.popReportAdd  .grid .inner-table {height: 240px;}
.flex-group .day .chk {display:inline-block; margin-left:12px;}
.gray-hor-tb .line-txt {margin-left:24px; margin-right:8px;}
.gray-hor-tb .user-line {line-height: 1.8;}
.gray-hor-tb .tb-pd8 {padding:8px 0;}

.popsendenroll.map .btn-area {left: 335px;}
.popsendenroll.map .user-list {border:1px solid #ccc;}
.popsendenroll.map .grid td {padding: 6px 0;text-align: left; border-top:0;}
.popsendenroll.map .grid tr:last-child td {border-bottom: 0;}
.popsendenroll.map .inner-table {padding: 12px 0 12px 20px;}
.ipt-btn-del {position: relative;display: inline-block;width: calc(100% - 52px);margin-right: 5px;}
.ipt-btn-del.full {width:100%;}
.ipt-btn-del .del {position:absolute;top: 3px;right: 8px; width:24px; height:24px; font-size:0;background: url('../img/common/btn_del.png') no-repeat center center;}
.folder-tree.system {height: 213px;margin-top: 24px;}
.folder-tree.system .sort-item .chk {position: absolute;top: 6px; right:0;}
.folder-tree.system .toggle .view {background-color: transparent;}
.folder-tree .toggle ul > li .cnt {display:inline;}

.user-list.team-tree {margin-top:24px;}
.user-team-list li {border-top: 1px solid #e1e1e1;font-size: 0 !important;}
/* .user-list.team-tree tr:last-child td {border-top:1px solid #e1e1e1;} */
.user-team-list > li:last-child {border-bottom: 1px solid #e1e1e1;}
.user-team-list .sort-item > a,
.user-team-list .btn-toggle {display: inline-block;width: calc(100% - 100px); font-size: var(--font-size-12) !important;vertical-align: middle;}
.user-team-list .code {display: inline-block; width: 100px;vertical-align: middle;text-align: center;}
.user-team-list .code a {font-size: var(--font-size-12);text-decoration: underline;}
.user-team-list .code a:hover {color:#5668f0;}
.user-team-list .last {position:relative;}
.user-team-list.toggle .last:before {top: 0;left: -20px;}
.user-team-list .sort-item {padding: 10px 0 11px 60px;}
.user-team-list.toggle li .btn-toggle {padding: 11px 0 11px 42px;background-position-x: 20px; background-position-y: 4px;}
.user-team-list.toggle li.open > .btn-toggle {background-position-y: -28px;}
.user-team-list.toggle .depth2 > li {padding-left: 60px;}
.user-team-list.toggle .depth2 > li.active {padding-left: 0;}
.user-team-list.toggle .depth2 > li.active .btn-toggle {padding-left: 62px; background-position-x: 40px;}

.user-team-list.toggle .depth3 > li {padding-left: 80px;}
.user-team-list.toggle .depth3 > li.active {padding-left: 0;}
.user-team-list.toggle .depth3 > li.active .btn-toggle {padding-left: 82px;background-position-x: 60px;}

.user-team-list.toggle .depth4 > li {padding-left: 100px;}
.user-team-list.toggle .depth4 > li.active {padding-left: 0;}
.user-team-list.toggle .depth4 > li.active .btn-toggle {padding-left: 102px; background-position-x: 80px;}

.team-tree-items li {font-size:0;}
.team-tree-items li > div {display:inline-block;font-size: var(--font-size-12);text-align: center;padding-top: 10px;height: 40px;border-bottom: 1px solid #e1e1e1;vertical-align: middle;}
.font-large .team-tree-items li > div {padding-top: 7px; line-height: 20px;}
.team-tree-items .check {width:10%;}
.team-tree-items .team {width:29%;text-align: left;}
.team-tree-items .team .tit {position:relative;}
.team-tree-items .team .tit:before {display:block;position: absolute;top: 0;left: -20px; height:20px; width:20px;background: url('../img/common/btn_toggle.png') no-repeat 0 -7px; content:'';}
.team-tree-items .last .tit:before {display:block;position: absolute;top: 0;left: -24px; height:20px; width:20px;background: url('../img/common/row.png') no-repeat center center; content:'';}
.team-tree-items .open > .team .tit:before {background-position: 0 -39px;}
.team-tree-items .open .last > .team .tit:before {background-position: center center;}
.team-tree-items .code {width:10%;}
.team-tree-items .code a {text-decoration: underline;}
.team-tree-items .code a:hover {color:#5668f0;}
.team-tree-items .type {width:13%;}
.team-tree-items .top {width:15%;}
.team-tree-items .name {width:10%;}
.team-tree-items .date {width:13%;}
.team-tree-items .depth .depth {display:none;}
.team-tree-items li.open > .depth {display:block;}

.team-tree-items .depth1 > .team {padding-left:20px;}
.team-tree-items .depth2 > .team {padding-left:40px;}
.team-tree-items .depth3 > .team {padding-left:60px;}
.team-tree-items .depth4 > .team {padding-left:80px;}

.group-map {overflow: hidden;}
.group-map > .graybox {width:calc((100% - 40px) / 3);}
.group-map .mapping-group {float: right;width:calc(((100% - 40px) / 3) * 2);}
.mapping-group .gray-bar {padding: 4px 12px;background: #f2f2f2;border: 1px solid #ccc;border-bottom: 0;}
.mapping-group .lb {display: inline-block;width: 62px;font-size: var(--font-size-13); color:#888;vertical-align: middle;}
.mapping-group .select {width: calc(47% - 90px);}
.mapping-group .map-cont {position: relative;padding: 12px 20px;overflow: hidden;background-color: #fff;border: 1px solid #ccc;border-top: 0;}
.popsendenroll .mapping-group .btn-area {top: 42%;right: 49%; left:auto;transform: translateX(25%);-ms-transform: translateX(25%);-moz-transform: translateX(25%);-webkit-transform: translateX(25%);}
.popsendenroll .mapping-group .graybox {width: 45%;}
.report-menu {display: flex;gap: 20px;}
.report-menu .left {min-width: 320px;width: 30%; flex-shrink: 0;}
.report-menu .folder-tree {height: 458px;margin-top: 0;}
.popRepoAdd .btn-area {left: 335px;}
.sort-tb tr.ui-sortable-handle {background: url('../img/common/bg_sortable.png') #fff no-repeat 85px center;}
.grid .scroll-area {height: auto !important;padding: 0 !important;border-bottom: 0 !important;}
.inner-table {height: 355px;overflow-y: auto;}
.inner-table table tr:first-child td {border-top:0;}
.inner-table table tr:last-child td {border-bottom: 1px solid #e1e1e1 !important;}
.inner-table .grid tbody td {border-bottom: 0 !important;}
.sauce-type,
.report-sauce {display: flex;align-items: center;}
.sauce-type .radiobox,
.report-sauce .radiobox {display: inline-block;margin-right: 32px;}
.sauce-type .radiobox {width: 250px;flex-shrink: 0;}
.font-medium .sauce-type .radiobox {width:280px;}
.font-large .sauce-type .radiobox {width:300px;}
.sauce-type .radiobox + .flex-group {width:calc(100% - 250px);}
.sauce-type .flex-group .btn,
.report-sauce .flex-group .btn {flex-shrink: 0;}
.sauce-type .flex-group input[type=text],
.sauce-type .flex-group .select {width:100%;max-width: 358px;}
.report-sauce .flex-group input[type=text] {width: 358px;}
.report-sauce .flex-group input[type=text] + button {display:none;}
.report-sauce .flex-group input[type=text]:disabled + button {display:inline-block;}
.sauce-type .btn.file {display:none;}
.sauce-type .btn.set {display:none;}
.sauce-type .select {display:none;}
.sauce-type input {display:none;}
.sauce-type[data-idx="idx1"] .btn.file {display:inline-block;}
.sauce-type[data-idx="idx1"] input[type='text'],
.sauce-type[data-idx="idx3"] input[type='text']{display:inline-block;}
.sauce-type[data-idx="idx2"] .select {display:inline-block;margin-left: 0;}
.sauce-type[data-idx="idx2"] .btn.set {display:inline-block;}

.report-preview {margin-top:20px; height:440px;}
.portlet-size .select {margin-left:0;width: 100px;}
.grid .bg-highlight {background:#eff0f6;}
.grid.server-set td {padding:0 5px; height:40px;}
.popsendenroll .grid.tree tbody td {height:auto;}
.popsendenroll .inner-table .grid.tree tr:last-child td {border-bottom:0 !important;}

.ci-img-wrap {height:160px;/* width: 100%; *//* min-width: 1110px; */background: #f6f6f6;overflow-x: auto;overflow-y: hidden;font-size: 0;white-space: nowrap;}
.ci-img-wrap .img-box {float: left;width:200px;height: 160px;padding-top: 32px;background: #242424;text-align: center;}
.ci-img-wrap .cont-head-wrap {/* float: right; */display: inline-block;width: calc(100% - 200px);min-width: 900px;height: 160px;}
.ci-img-wrap .img-box img {width:40px;}
.ci-img-wrap .img-box h1 {margin-top: 6px; padding-bottom: 32px; color: #fff; font-size: var(--font-size-20); font-weight: 500; text-align: center; border-bottom: 1px solid #3B3B3B;}
.ci-img-wrap button,
.ci-img-wrap a {pointer-events: none;}
.excel-step {padding-right: 68px;}
.excel-step .step-option {margin-top: 12px;overflow: hidden;}
.excel-step .step-option .chk {position: static;float:left;padding-top: 5px;}
.excel-step .step-option .btn-wrap {float:right;margin-top: 0;}

.data-table {display:flex; gap:40px;}
.data-table .tg-table {flex: 1;}
.data-table .grid tbody tr {background-color: transparent;}
.data-table .excel-data {width: 320px; flex-grow: 0;}
.data-table .excel-data .del {float:right;  width:16px; height:16px; background:url('../img/common/btn_del.png') no-repeat 0 0; background-size: 16px 16px; font-size:0;}
.data-table .excel-data .ui-sortable-handle {background: url('../img/common/bg_sortable.png') no-repeat left 2px center;}
.data-table .excel-data .user-list,
.data-table .tg-table .user-list {height:auto;max-height: 323px;}
.data-table .excel-data .user-list .data-items,
.data-table .tg-table .user-list .inner-table {height:auto;max-height: 282px;}
.data-table .excel-data .data-items {overflow-y: auto;}
.data-table .excel-data .data-items li {overflow: hidden;border-bottom: 1px solid #e1e1e1;}
.data-table .excel-data .data-items .left {float: left;width:35%;padding: 10px 0 10px 0;}
.data-table .excel-data .data-items .right {float: left;width:65%;padding: 10px 0;}

.file-add {margin-top:24px;margin-bottom: 8px;}
.file-add input[type="text"] {width:260px;}
.file-add .chk {float:right;margin-top: 6px;}

/* 프로그레스 */
.progress-bar {width: 100%; height: 8px; background-color: #f2f2f2;font-weight: 600; font-size: .8rem; border-radius: 4px; overflow: hidden;}
.progress-bar .progress {width:0%; height: 8px;padding: 0;text-align: center;background-color: #5668f0;border-radius: 4px;}
.progress-txt {margin-bottom: 8px;font-size: var(--font-size-12); color:#888;}
.upload-step {margin-top:20px; padding:12px 20px;border: 1px solid #e1e1e1;height: 200px;overflow-y: auto;}
.upload-step p {font-size:var(--font-size-14);}
.icon-result {position:relative;padding-left: 15px;}
.icon-result:before {position:absolute; left:0; top:50%; width:9px; height:9px; border-radius: 50%; content: ''; transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.icon-result.scs:before {background-color: #24931a;}
.icon-result.fail:before {background-color: #d4373c;}


/* 모바일 */
@media (max-width:740px) {
    .m-head {position: relative;z-index: 10;}
    .m-inner {padding: 0 8px;padding-bottom: 52px;}
    .m-inner .login-wrap {padding: 0 16px;}
    .m-inner .login-txt {margin-top:100px; font-weight: normal; font-size: 20px;}
    .m-inner .login-box {margin-top:16px;}
    .m-inner .login-box .ipt + .ipt {margin-top:12px;}
    .m-inner .login-wrap .btn-wrap {margin-top:40px;}
    .m-inner .login-wrap .info {margin-top: 12px;font-size:12px; color:#888;text-align: center;}
    .login-wrap .error {margin-top:4px; color: #ff0000;}
    .mobile input[type="text"], .mobile input[type="password"], .mobile input[type="number"], .mobile input[type="email"], .mobile input[type="search"] {height:50px; font-size: 16px;}
    .mobile .btn {width:100%; height:40px;}
    .mobile .btn.big {height:50px; font-size: 16px;}
    .m-head .logout {position: absolute;right: 8px;top: 12px;width:30px; height:30px;background: url('../img/common/ico_logout.svg') no-repeat center center;font-size: 0;}
    .m-head .depth-menu {position:absolute;top: 0;left: 0;width: 48px;height: 56px; font-size:0;background: url('../img/common/ham_menu.svg') no-repeat center center;}
    
    .chart-list {padding:12px 0}
    .chart-list li + li{margin-top:12px;}
    .chart-list .chart-box {position: relative;border:1px solid #e1e1e1;border-radius: 5px;background: #fff;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12); height:236px;overflow: hidden;}
    .chart-list .chart-box .head {display:flex;height: 40px;padding:0 20px;background:#f2f2f2;align-items: center;justify-content: space-between;}
    .chart-list .chart-box .head .left,
    .chart-list .chart-box .head .right {display: flex; align-items: center;}
    .chart-list .chart-box .ico {width:20px; height:20px;border-radius: 5px;background: #111;color: #fff;text-align: center;font-size: 14px;line-height: 20px;}
    .chart-list .chart-box .title {margin-left: 12px;font-size:14px;}
    .chart-list .chart-box .date {margin-right: 12px;color:#666;font-size: 11px;}
    .chart-list .chart-box .del {width:24px; height:24px; background: url('../img/common/btn_popclose.svg') no-repeat 0 0; font-size: 0;}
    .chart-list .chart-box .chart-view {height: 194px;}
    .chart-list .chart-box.empty {width: 100%;background: url('../img/common/chart_add.svg') no-repeat #f6f6f6 center center; border:1px dashed #ccc;}
    .btm-menu-list {position: fixed;bottom: 0;display: flex;width: 100%;height: 52px;margin: 0 -8px;border-top: 1px solid #ccc;z-index: 1;}
    .btm-menu-list .menu {display: flex;width:20%;height: 51px;padding: 0 5px;flex-shrink: 0;background: #f6f6f6;justify-content: center;align-items: center;flex-direction: column;}
    .btm-menu-list .menu .blank {padding-right: 22px;background: url('../img/common/ico_plus.svg') no-repeat center right;font-size: 12px;}
    .btm-menu-list .menu .tit {width:100%;text-align: center;}
    .btm-menu-list .menu.full {background-color: #fff;}

    .menu-sec {visibility: hidden; position: absolute; top:56px;bottom:0; left:-70%; background: #f6f6f6;width: 70%;z-index: 10; transition: all 0.1s;}
    .menu-sec.on {visibility: visible; left:0; transition: all 0.1s;}
    .menu-sec .top-box {display: flex;padding: 0 16px;justify-content: space-between;align-items: center;height: 46px;border-bottom: 1px solid #e1e1e1;}
    .menu-sec .top-box .tit {font-size: 14px;}
    .menu-sec .top-box .menu-close {width: 24px; height: 24px; background: url('../img/common/btn_popclose.svg') no-repeat 0 0; font-size: 0;}
    .menu-list .folder-tree {background: transparent; border:0;margin-top: 12px;height:auto;padding-right: 16px;overflow: initial;}
    .menu-list .folder-tree .toggle {width:auto;}
    .menu-list .folder-tree .toggle ul > li > a {padding-right:30px;}
    .menu-list .folder-tree.system .sort-item .chk {top:50%; transform:translateY(-50%); -ms-transform:translateY(-50%); -moz-transform:translateY(-50%); -webkit-transform:translateY(-50%);}
    .dimm {display: none;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(36,36,36,0.8);z-index: 9;}
    .dimm.on {display: block;}
}